h5 {
  color: #559eda;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  color: #559eda;
  font-family: "Times New Roman", Times, serif;
}
input {
  color: black;
  background-color: #6deaf7;
}
h1 {
  color: #05acb0;
}
