h5 {
  color: red;
}
h2 {
  color: cornflowerblue;
  font-family: "Times New Roman", Times, serif;
}
input {
  color: #000000;
  background-color: #82bdec;
}
h1 {
  color: #06c0c4;
  font-family: "Times New Roman", Times, serif;
}
